html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul,
ol {
padding: 0;
}


body,
h1,
h2,
h3,
h4 h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}


body {
  scroll-behavior: smooth;
  line-height: 1.5;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}


article>*+* {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}


.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}