<footer class="footer">
    <div class="container footer__inner">
        <div class="footer__item footer__item--first">
            <h3 class="footer__item-title">Lorem.</h3>
            <div class="footer__item-info">
                <p class="footer__item-text">Worldwide furniture store since 2020. We sell over 1000+ branded products
                    on our website</p>
                <div class="footer__item-text footer__item-text--map">Sawojajar Malang, Hawaii</div>
                <a class="footer__item-text footer__item-text--phone" href="tel:+62894563455">+6289 456 3455</a>
                <a class="footer__item-text" href="https://www.lorem.com">www.lorem.com</a>
            </div>
        </div>
        <div class="footer__item">
            <h3 class="footer__item-title">Menu</h3>
            <ul class="footer__menu-list">
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">
                        Products
                    </a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">
                        Rooms
                    </a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">
                        Inspirations
                    </a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">
                        About Us
                    </a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">
                        Terms & Policy
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__item">
            <h3 class="footer__item-title">Account</h3>
            <ul class="footer__menu-list">
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">
                        My Account
                    </a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">
                        Checkout
                    </a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">
                        My Cart
                    </a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">
                        My catalog
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__item">
            <h3 class="footer__item-title">Stay Connected</h3>
            <ul class="footer__menu-list">
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">
                        Facebook
                    </a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">
                        Instagram
                    </a>
                </li>
                <li class="footer__menu-item">
                    <a href="#" class="footer__menu-link">
                        Twitter
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer__item">
            <h3 class="footer__item-title">Stay Updated</h3>
            <form class="footer__item-form" action="#">
                <input class="footer__item-input" placeholder="Enter your email" type="email">
                <button class="footer__item-btn" type="button"><img src="images/icons/send.svg" alt="Send"></button>
            </form>
        </div>
    </div>
</footer>