<header class="header">
    <div class="container">
        <div class="header__inner">
            <a class="logo header__logo" href="#"><img src="images/icons/logo.svg" alt="Logo" /></a>
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__item"><a class="menu__link" href="#"> 1</a></li>
                    <li class="menu__item"><a class="menu__link" href="#"> 2</a></li>
                    <li class="menu__item"><a class="menu__link" href="#"> 3</a></li>
                    <li class="menu__item"><a class="menu__link" href="#"> 4</a></li>
                    <li class="menu__item"><a class="menu__link" href="#"> 4</a></li>
                    <li class="menu__item"><a class="menu__link" href="#"> 4</a></li>
                </ul>
            </nav>
            <button class="menu__burger"><span></span></button>
        </div>
    </div>
</header>